parameters:
    level: max
    paths:
        - src
        - tests

    ignoreErrors:
        - '#Method [\w\\]+::test[\w]+\(\) has no return typehint specified#'

    # Miscellaneous parameters
    inferPrivatePropertyTypeFromConstructor: true
